{% extends "base.html" %}
{% block content %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form method="POST" class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
							Fill in The Details For Registration
					</span>
                    {{form.hidden_tag()}}
                    {{form.email.label}}{{form.email(class="wrap-input100")}}
                    <span class="focus-input100" data-placeholder="Email"></span>
                    {{form.username.label}}{{form.username(class="wrap-input100")}}
                    <span class="focus-input100" data-placeholder="Username"></span>
                    {{form.password.label}}{{form.password(class="wrap-input100")}}
                    <span class="focus-input100" data-placeholder="Password"></span>
                    {{form.pass_confirm.label}}{{form.pass_confirm(class="wrap-input100")}}
					<span class="focus-input100" data-placeholder="Confirm Password"></span>
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
						<button
						class="login100-form-btn">
						{{form.submit(class="container-login100-form-btn")}}
                            Register
                        </button>
                    </div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
{% endblock %}

